


.hero {
    background-image: url('/images/image-hero-mobile.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    position: relative;
    z-index: 9;

    .hero__mobile-nav {
        padding: 20px;
        z-index: 10;

        .header {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            .logo {
                font-size: 28px;
                font-weight: 700;
                color: #fff;
            }

            .hamburger {
                width: 25px;
            }

            .active.hamburger {
                display: none;
            }

            .close {
                display: none;
            }

            .active.close {
                display: block;
                width: 25px;
            }
        }

        .header__menu {
            display: none;
        }

        .active.header__menu {
            display: flex;
            width: 85vw;
            margin: 35px auto 0;
            background: $white;
            height: auto;
            border-radius: 10px;
            z-index: 1000;

            ul {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;

                li {
                    list-style: none;
                    padding: 25px;
                    border-bottom: $dark-cyan;
                    width: 100%;

                    a {
                        text-decoration: none;
                        color: $black;
                        font-size: 23px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

// .active.hero::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 100%;
//     background: rgba(255, 255, 255, 0.5);
//     z-index: -1;
// }
