.content-container {
    width: 80vw;
    margin: auto;
    position: absolute;
    top: 250px;
    left: 40px;
    right: 40px;
    background: transparent;
    padding: 0;
    z-index: 9;
    

    @include breakpoint-up(tablet) {
        top: 200px;
    }

    @include breakpoint-up(desktop) {
        top: 260px;
        width: 50vw;
    }

    .intro-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 25px;
        background: $white;
        box-shadow: 3px 5px 9px;
        border-radius: 10px;
 

        .intro-logo {
            position: absolute;
            transform: translateY(-50%);
            top: -3px;
            padding: 0;
        }

        h2 {
            margin-top: 30px;
            text-align: center;

            @include breakpoint-up(tablet) {
                br {
                    display: none;
                }
            }
        }

        .intro-tag {
            font-size: 18px;
            font-weight: 500;
            color: $dark-grey;
            padding: 25px 0;

            @include breakpoint-up(tablet) {
                font-size: 15px;
                padding: 15px 0;
                margin-bottom: 25px;
                width: 95%;
                
            }
        }

        .bookmark {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 70%;

            @include breakpoint-up (tablet) {
                width: 100%;
                justify-content: space-between;
                
            }

            span {
                padding: 15px 25px;
                color: $white;
                font-weight: 700;
                background: $moderate-cyab;
                border-radius: 30px;
                display: flex;
                align-items: center;

                
            }

            .bookmark-btn {
                margin-left: 20px;
                text-align: center;
                position: relative;

                @include breakpoint-up (tablet) {
                    img {
                        position:  absolute;
                        left: -35px;
                    }
                }

                @include breakpoint-up (tablet){
                    display: flex;
                    align-items: center;
                }

                p {
                    display: none;

                    @include breakpoint-up(tablet) {
                        display: block;
                        padding: 10px 15px 10px 30px;
                        background: $light-grey;
                        border-radius: 20px;
                        
                    } 
                }
            }
        }
    }

    // .separator {
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     margin-top: 20px;
    // }

    .cash-section {
        text-align: center;
        margin-top: 30px;
        border-radius: 10px;
        padding: 25px;
        box-shadow: 3px 5px 9px;

        @include breakpoint-up(tablet) {
            display: flex;
            align-items: center;
            flex-direction: column;

            .figures {
                display: flex;
                width: 86%;
                align-items: center;
                justify-content: space-between;
            }
        }

        .cash {
            margin-bottom: 30px;
            position: relative;

            .figures{
                font-size: 25px;
                font-weight: 700;
                color: $black;
            }

            .fig-desc {
                font-weight: 500;
                color: $dark-grey;
            }
        }

        .under-line {
            position: absolute;
            transform: translate(-50%, -650%);
            width: 85px;
            height: 1px;
            background-color: $dark-grey;
            margin: auto;

            @include breakpoint-up(tablet) {
                display: none;
            }
        }

        .thermometre {
            width: 90%;
            height: 15px;
            background-color: $light-grey;
            margin: auto;
            border-radius: 10px;

            .mercury {
                height: 100%;
                width: 80%;
                background: $dark-cyan;
                border-radius: inherit;
            }
        }
    }

    .about {
        margin-top:  30px;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 3px 5px 9px;

        &-content {
            margin-bottom: 30px;

            &__title {
                margin-bottom: 20px;
            }

            p + p {
                margin-top: 20px;
            }

            &__desc{
                color: $dark-grey;
                line-height: 1.5;
                font-size: 15px;
            }
        }

        .about-box {
            padding: 15px;
            border: 1px solid $dark-grey;
            border-radius: 10px;
            margin: 20px 0;

            .title-box {
                display: flex;
                width: 100%;
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 25px;

                @include breakpoint-up (tablet) {
                    flex-direction: row;
                    justify-content: space-between;
                }

                p {
                    color: $moderate-cyab;
                    font-weight: 700;
                    font-size: 15px;
                    margin-top: 10px;
                    text-transform: capitalize;

                    @include breakpoint-up (tablet) {
                        margin-top: 0;
                    }
                }
            }

            @include breakpoint-up(tablet) {
                .box-cont {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            }

            .about-content__desc {
                line-height: 1.5;
            }

            // .box-cont {
            //     display: flex;
            //     align-items: center;
            //     justify-content: space-between;
            // }

            .about-price {
                margin: 25px 0 ;
                display: flex;
                align-items: center;
                

                div {
                    font-size: 30px;
                    font-weight: 700;
                    margin-right: 8px;
                }

                span {
                    color: $dark-grey;
                }

            }

            .about-btn {
                color: $white;
                padding: 18px 25px;
                background: $moderate-cyab;
                border: none;
                border-radius: 30px;
                cursor: pointer;
                text-transform: capitalize;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}