
.container-back {
    width: 75vw;
    margin: auto;
    position: absolute;
    top: 250px;
    left: 0px;
    right: 0px;
    background: transparent;
    padding: 0;
    z-index: 9;
    background: $white;
    padding: 35px 25px;
    border-radius: 20px;

    .container__title {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .container__desc, .desc {
        font-size: 17px;
        color: $dark-grey;
        line-height: 1.7;
    }

    .form-container {
        border: 1px solid $dark-grey;
    }

    .form-container + .form-container {
        margin-top: 20px;
    }
}
